<div class='card-container course'>
	<div class="input-group">
	  <span class="input-group-addon lineUp needSpace">Course Title</span>
	  <input class='form-control' ng-model='course.title' ng-blur="saveCourse()"/>
	</div>
	<div class="input-group needSpace">
	  <span class="input-group-addon lineUp">Description</span>
	  <input class='form-control' ng-model='course.description' ng-blur="saveCourse()"/>
	</div>
	<div class="input-group needSpace">
	  <span class="input-group-addon lineUp">Goal</span>
	  <input class='form-control' ng-model='course.goal' ng-blur="saveCourse()"/>
	</div>
	<hr />
	<div>
		
		<h5 ng-click="hideLower(course)">
			Lessons
			<span class='glyphicon glyphicon-chevron-down' ng-hide="course.hideLower"></span>
			<span class='glyphicon glyphicon-chevron-right' ng-show="course.hideLower"></span>
		</h5>

	</div>
	<ol ng-hide="course.hideLower">
		<li ng-repeat="lesson in course.lessons track by $index" class='card-container lessons'>
			<div style='text-align: right'>
				<btn ng-show='$index < course.lessons.length - 1' ng-click="moveDown(course.lessons, lesson)" class='glyphicon glyphicon-arrow-down'></btn>
				<btn ng-show='$index > 0' ng-click="moveUp(course.lessons, lesson)" class='glyphicon glyphicon-arrow-up'></btn>
				<btn ng-click="delete(course, lesson)" class='glyphicon glyphicon-remove'></btn>
			</div>
			<div class="input-group needSpace">
			  <span class="input-group-addon lineUp">Title</span>
			  <input class='form-control' ng-model='lesson.title' ng-blur="saveCourse()"/>
			</div>
			<div class="input-group needSpace">
			  <span class="input-group-addon lineUp">Description</span>
			  <input class='form-control' ng-model='lesson.description' ng-blur="saveCourse()"/>
			</div>
			<div class="input-group needSpace">
			  <span class="input-group-addon lineUp">Goal</span>
			  <input class='form-control' ng-model='lesson.goal' ng-blur="saveCourse()"/>
			</div>
			<div>
				<h5 ng-click="hideLower(lesson)">
					SubLessons
					<span class='glyphicon glyphicon-chevron-down' ng-hide="lesson.hideLower"></span>
					<span class='glyphicon glyphicon-chevron-right' ng-show="lesson.hideLower"></span>
				</h5> 
			</div>
			<ol ng-hide="lesson.hideLower">
				<li ng-repeat="sublesson in lesson.sublessons track by sublesson.id" class='card-container sublessons'>
					<div style='text-align: right'>
						<btn ng-show='$index < lesson.sublessons.length - 1' ng-click="moveDown(lesson.sublessons, sublesson)" class='glyphicon glyphicon-arrow-down'></btn>
						<btn ng-show='$index > 0' ng-click="moveUp(lesson.sublessons, sublesson)" class='glyphicon glyphicon-arrow-up'></btn>
						<btn ng-click="delete(lesson, sublesson)" class='glyphicon glyphicon-remove'></btn>
					</div>
					<div class="input-group needSpace">
					  <span class="input-group-addon lineUp">Title</span>
					  <input class='form-control' ng-model='sublesson.title' ng-blur="saveCourse()"/>
					</div>
					<div class="input-group needSpace">
					  <span class="input-group-addon lineUp">Description</span>
					  <input class='form-control' ng-model='sublesson.description' ng-blur="saveCourse()"/>
					</div>
					<div class="input-group needSpace">
					  <span class="input-group-addon lineUp">Goal</span>
					  <input class='form-control' ng-model='sublesson.goal' ng-blur="saveCourse()"/>
					</div>
					<div> 
						<h5 ng-click="hideLower(sublesson)">
							Steps
							<span class='glyphicon glyphicon-chevron-down' ng-hide="sublesson.hideLower"></span>
							<span class='glyphicon glyphicon-chevron-right' ng-show="sublesson.hideLower"></span>
						</h5> 
					</div>
					<ol ng-hide="sublesson.hideLower">
						<li ng-repeat="step in sublesson.steps track by step.id" class='card-container steps'>
							<div style='text-align: right'>
								<btn ng-show='$index < sublesson.steps.length - 1' ng-click="moveDown(sublesson.steps, step)" class='glyphicon glyphicon-arrow-down'></btn>
								<btn ng-show='$index > 0' ng-click="moveUp(sublesson.steps, step)" class='glyphicon glyphicon-arrow-up'></btn>
								<btn ng-click="delete(sublesson, step)" class='glyphicon glyphicon-remove'></btn>
							</div>
							<div class="input-group needSpace">
							  <span class="input-group-addon lineUp">Title</span>
							  <input class='form-control' ng-model='step.title' ng-blur="saveCourse()"/>
							</div>
							<div class="input-group needSpace">
							  <span class="input-group-addon lineUp">Description</span>
							  <input class='form-control' ng-model='step.description' ng-blur="saveCourse()"/>
							</div>
							<div class="input-group needSpace">
							  <span class="input-group-addon lineUp">Goal</span>
							  <input class='form-control' ng-model='step.goal' ng-blur="saveCourse()"/>
							</div>
							<div class='well'>
								<select class="form-control" ng-model='step.expectedResult.type'>
								  <option>Number</option>
								  <option>String</option>
								  <option>Function</option>
								</select>
								<div ng-show="step.expectedResult.type != 'Function'" class="input-group needSpace">
								  <span class="input-group-addon lineUp">Expected Result</span>
								  <input 
								  	class='form-control'
								  	ng-model='step.expectedResult.result'
								  	ng-blur="saveCourse()" />
								</div>
									<div
									  	ng-show="step.expectedResult.type == 'Function'"
									  	ui-ace="{
										  useWrapMode : true,
										  showGutter: true,
										  theme:'dawn',
										  mode: 'javascript',
										  onLoad: aceLoaded,
										  
										}"
									  	ng-model='step.expectedResult.result' > </div>
							</div>
							<div>
								
								<h5 ng-click="hideLower(step)">
									hints
									<span class='glyphicon glyphicon-chevron-down' ng-hide="step.hideLower"></span>
									<span class='glyphicon glyphicon-chevron-right' ng-show="step.hideLower"></span>
								</h5>
							</div>
							<ol ng-hide="step.hideLower">
								<li ng-repeat="hint in step.hints track by hint.id" class='card-container hints'>
									<div style='text-align: right'>
										<btn ng-show='$index < step.hints.length - 1' ng-click="moveDown(step.hints, hint)" class='glyphicon glyphicon-arrow-down'></btn>
										<btn ng-show='$index > 0' ng-click="moveUp(step.hints, hint)" class='glyphicon glyphicon-arrow-up'></btn>
										<btn ng-click="delete(step, hint)" class='glyphicon glyphicon-remove'></btn>
									</div>
									<div class="input-group needSpace">
									  <span class="input-group-addon">Hint</span>
									  <input class='form-control' ng-model='hint.text' ng-blur="saveCourse()"/>
									</div>
								</li>
								<li class=''>
									<button class='btn btn-info form-control plusButton' ng-click="newHint(step)"> 
										+ Hint
									</button> 
								</li>
							</ol>
						</li>
						<li class=''>
							<button class='btn btn-info form-control plusButton' ng-click="newStep(sublesson)">
								+ Step
							</button>
						</li>
					</ol>
				</li>
				<li class=''>
					<button class='btn btn-info form-control plusButton' ng-click="newSubLesson(lesson)">
					 	+ Sub Lesson
					 </button> 
				</li>
			</ol>
		</li>
		<li class=''>
			<button class='btn btn-info form-control plusButton' ng-click="newLesson()">
				+ Lesson
			</button>
		</li>
	</ol>
</div>
