<div class='card-container course'>
	<div class="input-group">
	  <span class="input-group-addon lineUp needSpace">School Name</span>
	  <input class='form-control' ng-model='school.title' ng-blur="saveSchool()"/>
	</div>
	<hr />
	<p>Teachers need this code to associate themselves with the school</p>
	<div class="input-group">
	  <span class="input-group-addon lineUp needSpace">Teacher Access Code</span>
	  <input class='form-control' ng-model='school.teacherAccessCode' ng-blur="saveSchool()"/>
	</div>
	<hr />
	<p>Students need this code to associate themselves with the school</p>
	<div class="input-group">
	  <span class="input-group-addon lineUp needSpace">Student Access Code</span>
	  <input class='form-control' ng-model='school.studentAccessCode' ng-blur="saveSchool()"/>
	</div>
	<hr />
	<div class="input-group needSpace">
	  <span class="input-group-addon lineUp">Search Students</span>
	  <input class='form-control' ng-model='searchFilter'/>
	</div>
</div>